<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="../js/bootstrap.bundle.min.js"></script>


</head>
<body>


    <%
    if(info[0]){
      %>
        
          <div style="width:300px" class="z-3 alert position-fixed top-0 end-0 m-4 alert-info border-0 shadow alert-dismissible fade show" role="alert">
           <%= info[0] %>
            <button type="button" class="btn-close btn" data-bs-dismiss="alert" aria-label="Close"></button>
            <!-- <div class="w-100 bg-info p-1 position-absolute start-0 bottom-0"></div> -->
          </div>
    
        <%
    }
    else{
      %>
      <div></div>
      <%
    }
    %>
  
    
    <div class="container-fluid d-flex">

        <div class="side-bar">
            <div class="side-one d-flex justify-between p-4 border">
                <i><img src="/img/racer.png" alt=""></i>  <a><h2>Admitator</h2></a>
         
            </div>
            <div class="side-one d-flex justify-between p-4 border">
                <i><img src="/img/3d-house.png" alt=""></i>  <a>Home</a>
            </div>
            <div class="side-one d-flex justify-between p-4 border">
                <i><img src="/img/bar-chart.png" alt=""></i>  <a>Analytic</a>
            </div>
            <div class="side-one d-flex justify-between p-4 border">
                <i><img src="/img/3d-calendar.png" alt=""></i>  <a>Calender</a>
            </div>
            <div class="side-one d-flex justify-between p-4 border">
                <i><img src="/img/discussion.png" alt=""></i>  <a>Chat</a>
            </div>
            <div class="side-one d-flex justify-between p-4 border">
                <i><img src="/img/3d-map.png" alt=""></i>  <a>map</a>
            </div>
            <div class="side-one d-flex justify-between p-4 border">
                <i><img src="/img/grid.png" alt=""></i>  <a>table</a>
            </div>


        </div>
      
        <div class="main">
           <div class="nav border d-flex justify-between pe-30 align-items-center">
            <button class="admin-butn"><img src="/img/menu.png" alt=""></button>
            <button class="admin-butn2"><a href="/addUser"><i class="fa-solid fa-user-plus"></i>Add New</a></button>
            <button class="btn btn-danger"><a href="/user/logout"><i class="fa-solid fa-right-from-bracket text-white"></i></i></a></button>
           </div>

           <div class="sub-main d-flex">
                <div class="sub-main-user">
                    <div class="admin-items">

                        <% 
                        userData.map((user) => {
                  
                    %>

                        <div class="admin-items-users">
                            <div class="username"><img src="<%=user.pic %>" alt=""></div>
                            <div class="username w2"><%= user.username %></div>
                            <div class="username w1"><%= user.email %></div>
                            <div class="username w1"><%= user.password %></div>
                            <div class="username w1"><%= user.phone %></div>
                            <div class="username w1"><a href="/editUser/<%= user.id %>"><img src="/img/3d-pen.png" alt=""></a><a href="/delUser/<%= user.id %>"><img src="/img/trash-bin.png" alt=""></a></div>
                        </div>

                        <%
                                      
                    })
                %>
                          
                    </div>

                </div>
       
           </div>

           <div class="sub-main d-flex">
                <div class="sub-main-one">
                    <div class="admin-items">
                      
                    </div>

                </div>
                <div class="sub-main-one">
                    <div class="admin-items">
                        
                    </div>

                </div>
                <div class="sub-main-one">
                    <div class="admin-items">
                        
                    </div>

                </div>
                <div class="sub-main-one">
                    <div class="admin-items">
                        
                    </div>

                </div>

           </div>

        </div>


    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>

    <script>

        $(".admin-butn").click(function(){
            $(".side-bar").toggleClass("hide-side");
            $(".side-one a").toggle()
        })
    </script>
</body>
</html>