<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <style>
        *{

box-sizing: border-box;
margin: 0;
padding: 0;
}
:root{
--border- : gainsboro;
}

.p-4{
padding: 10px;
}
.pe-30{
padding-right: 30px;
}




.container{
width: 100%;
background-color: aliceblue;
}

.d-flex{
display: flex;
}

.justify-between{

justify-content: space-between;
}

.align-items-center{
align-items: center;
}

.admin-butn2 a{
padding: 20px;
font-weight: 700;
}
.side-bar{
width: 200px;
height: 100vh;
background-color: white;
border: 1px solid var(--border-);
overflow: hidden;
transition: width 0.5s;
}

.side-one:hover{
background-color: gainsboro;
cursor: pointer;
}


.border{
border: 1px solid var(--border-);
}

.admin-butn{
width: 50px;
transform: translateX(20px);

}

.admin-butn >i{
font-size:25px
}

.hide-side{
width: 50px;
transition: width 0.5s;
}

.main{
width: 100%;
}
.nav{
height: 70px;
background-color: white;
width: 100%;
}

.sub-main{
border:1px solid red;

flex-wrap: wrap;
}

.sub-main-one{

width: 50%;
height: 400px;
padding: 20px;
}

.sub-main-user{
width:100%;
padding: 20px;
}

.admin-items{
border-radius: 20px;
border: 1px solid var(--border-);
height: 100%;
background-color: white;
padding: 20px;
}

@media(max-width:991px){
.sub-main-one{
    width: 100%;
}

}


.fonts{
font-size: calc(10vw - 10px);
}


.admin-items-users{

margin: 10px;
display: flex;
border-radius: 10px ;
background-color:azure;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.admin-items-users div{
width: 100%;
padding: 5px 20px;
}

.table{
border-radius: 20px;
box-shadow: 1px 1px 5px black;
padding: 20px;
}
.table th{
text-align: start;

}

.table td input{
padding: 6px 10px;
}

.table td{
padding: 8px 0px;
}

.table button{
padding:6px 10px;
box-shadow: 1px 1px 5px green;
color: white;
background-color: green;
}
    </style>
  </head>

  <body>
    <div class="container d-flex">
      <div class="side-bar">
        <a href="/dashboard" class="side-one d-flex justify-between p-4 border">
          <i class="fa-solid fa-user-tie"></i>
          <h2>Admitator</h2>
        </a>
        <div class="side-one d-flex justify-between p-4 border">
          <i class="fa-solid fa-house"></i> <a>Home</a>
        </div>
        <div class="side-one d-flex justify-between p-4 border">
          <i class="fa-solid fa-chart-simple"></i> <a>Analytic</a>
        </div>
        <div class="side-one d-flex justify-between p-4 border">
          <i class="fa-solid fa-calendar-days"></i> <a>Calender</a>
        </div>
        <div class="side-one d-flex justify-between p-4 border">
          <i class="fa-brands fa-rocketchat"></i> <a>Chat</a>
        </div>
        <div class="side-one d-flex justify-between p-4 border">
          <i class="fa-solid fa-map"></i> <a>map</a>
        </div>
        <div class="side-one d-flex justify-between p-4 border">
          <i class="fa-solid fa-table"></i> <a>table</a>
        </div>
      </div>

      <div class="main">
        <div class="nav border d-flex justify-between pe-30 align-items-center">
          <button class="admin-butn"><i class="fa-solid fa-bars"></i></button>
          <button class="admin-butn2"><a href="/addUser">Add New</a></button>
        </div>

        <div class="sub-main d-flex"></div>

        <div class="sub-main d-flex">
          <div class="sub-main-one">
            <div class="admin-items">
              <form method="post" action="/addUser">
                <table border="0" class="table" width="50%" align="right">

                    <tr><td colspan="2">
                        <input type="hidden" value="<%= item.id %>" name="editId">
                    </td></tr>
                  <tr>
                    <th>username</th>
                    <td>
                      <input
                        type="text"
                        value="<%= item.username %>"
                        name="username"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>
                      <input
                        type="email"
                        value="<%= item.email %>"
                        name="email"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th>Phone</th>
                    <td>
                      <input
                        type="number"
                        value="<%= item.phone %>"
                        name="phone"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th>Password</th>
                    <td>
                      <input
                        type="text"
                        value="<%= item.password %>"
                        name="password"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" align="center">
                      <button type="submit">Edit</button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
          </div>

          <div class="sub-main-one">
            <div class="admin-items"></div>
          </div>

          <div class="sub-main-one">
            <div class="admin-items"></div>
          </div>
          <div class="sub-main-one">
            <div class="admin-items"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
      $(".admin-butn").click(function () {
        $(".side-bar").toggleClass("hide-side");
        $(".side-one a").toggle();
      });
    </script>
  </body>
</html>
